.contact-list {
    margin-block-start: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    border-radius: 8px;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}
