// Externals

// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";

// Basics
@import "basics/typography";
@import "basics/base";
@import "basics/helpers";
@import "basics/layout";
@import "basics/modals";
@import "basics/animations";

// Views
@import "pages/contact-index";
@import "pages/contact-details";
@import "pages/home-page";
@import "pages/statistics";
@import "pages/signup-page";

// Components
@import "cmps/contact-preview";
@import "cmps/contact-list";
@import "cmps/contact-filter";
@import "cmps/app-header";
@import "cmps/moves-list";
@import "cmps/transfer-fund";

.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(39, 39, 41);

    .app-header {
        background: #212121;
        color: white;
        z-index: 2;
    }

    main {
        flex-grow: 1;
        width: 100%;
    }

    > footer {
        background-color: #111;
        color: white;
    }

    a {
        text-decoration: none;
        color: inherit;

        &:hover,
        &:active {
            text-decoration: none;
            color: inherit;
        }
    }

    .lds-ellipsis {
        display: inline-block;
        position: relative;
        left: 50%;
        top: 50vh;
        width: 80px;
        height: 80px;
        transform: translate(-50%, -150%);
    }
    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: gold;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(24px, 0);
        }
    }
}
